<html>
    <head>
        <title>Python Applications blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Python Applications blog</a></h1>
        </div>

        <div>
            <p>published: 23.01.2017, 10:47</p>
            <h2><a href="">My first post</a></h2>
            <p>This is just the beginning and i am just in the learning phase. So wait for some awesome posts to come.</p>
        </div>

        <div>
            <p>published: 23.01.2017, 10:49</p>
            <h2><a href="">My second post</a></h2>
            <p>I am making my own writtings on my own so please ignore this if felt annoyed. English might be poor :p But don't forget to come again. thank you.</p>
        </div>
    </body>
</html>
